<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :skill_list %>
    <%= f.collection_select :skill_list, Skill.all, :id, :name, {:prompt => "Please Select Skills"}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :job_type %><br>
    <%= f.select :job_type, [ ["Full time", "Full time"], ["Part time", "Part time"], ["Contract", "Contract"], ["Holiday", "Holiday"] ] %>
  </div>
  <div class="field">
    <%= f.label :salary_or_hourly %><br>
    <%= f.select :salary_or_hourly, [ ["Salary", "salary"], ["Hourly", "hourly"] ], id: 'salary_or_hourly_select' %>
  </div>
  <div class="field">
    <%= f.label :pay_rate %><br>
    $  <%= f.number_field :pay_rate, :class => 'text_field', :step => 'any' %><span id='pay_amount_text'></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
