<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>
group_id: <%= @user_group_id %>

<% if current_user.group_id == 1 %>  <!-- ADMIN -->

<% elsif current_user.group_id ==2 %> <!-- EMPLOYER -->
  <table class="table table-striped">
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Skill list</th>
      <th>Job type</th>
      <th>Salary or hourly</th>
      <th>Pay rate</th>
      <th>Potential Hires<th>
    </tr>
    <% @employer_jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <% get_skill_list(job.skill_list) %>
        <td><%= @skill_names_list %></td>
        <td><%= job.job_type %></td>
        <td><%= job.salary_or_hourly %></td>
        <td><%= job.pay_rate %></td>
        <% get_potential_hire_count(job.id) %>
        <td><%= @potential_hire_count %></td>
        <td><%= link_to 'View', job %></td>

      </tr>
    <% end %>

<% else %>  <!-- EMPLOYEE -->

<% end %>
<br>

<%= link_to 'New Job', new_job_path %>
