<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Skill list:</strong>
  <%= @job.skill_list %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type %>
</p>

<p>
  <strong>Salary or hourly:</strong>
  <%= @job.salary_or_hourly %>
</p>

<p>
  <strong>Pay rate:</strong>
  <%= @job.pay_rate %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
