<p id="notice"><%= notice %></p>

<div class='row'>
  <% if current_user.group_id == 3 %>  <!-- EMPLOYEE -->
    <div class='col-md-4'></div>
  <% end %>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title'><%= @job.company %></h4>
      </div>
      <div class='panel-body'>
        <p>
          <strong>Job Title:</strong>
          <%= @job.position %>
        </p>

        <p>
          <strong>Skill list:</strong>
          <%= @skills_listed.join(', ') %>
        </p>

        <p>
          <strong>Job type:</strong>
          <%= @job.job_type %>
        </p>

        <p>
          <strong>Pay rate:</strong>
          <% if @job.salary_or_hourly == 'salary' %>
           $<%= @job.pay_rate %>/Month
          <% else %>
            $<%= @job.pay_rate %>/Hour
          <% end %>

        </p>
        <br>
        <% if current_user.group_id == 3 %>  <!-- EMPLOYEE -->
          <% if @employee_applied %>
            <b>Applied on: </b><%= @employee_applied.created_at %><br><br>
            <b>Status: </b><%= @employee_applied.status %>
          <% else %>
            <td><button class='btn btn-primary btn-xs' id= 'show_apply_box'>Apply</button><td>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <% if current_user.group_id == 2 %>  <!-- EMPLOYER -->

    <div class='col-md-8'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h4 class='panel-title'>Potential Employees</h4>
        </div>
        <div class='panel-body'>
          <% get_potential_hires(@job.id) %>

          <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>Skills</th>
              <th>Status</th>
              <th></th>
            </tr>
            <% @potential_hires.each do |info| %>
              <tr>
                <td><%= info[:employee_name] %></td>
                <td><%= info[:skills] %></td>
                <td><%= info[:status] %></td>
                <td>
                  <% if info[:status] == 'Employed' %>
                    <button class='btn btn-warning btn-xs' id= 'release_employee' value="<%= info[:job_id_user_id] %>">End Employment</button>
                  <% end %>
                  <td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

  <% end %>

</div>



<% if current_user.group_id == 3 %>  <!-- EMPLOYEE -->

  <div class='row' id='apply_textbox'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h4 class='panel-title'>Why are you a good fit?</h4>
        </div>
        <div class='panel-body'>
          <textarea style="resize: none;padding:2px;" data-job_id="<% @job.id %>" id="application_text" class="col-xs-12" rows="8"></textarea>
          <br><br><br>
          <button class='btn btn-primary btn-xs' id= 'employee_apply_to_job'  value="<%= @job.id %>">Submit</button>
        </div>
      </div>
    </div>
  </div>

<% end %>
