<div class="navbar navbar-default navbar-static-top">

  <div class='col-lg-2'>
    <a class="navbar-brand" href="#">Employee Database</a>
  </div>

  <% if current_user %>

    <div class='col-lg-4'>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to("Profile", profile_path) %></li>
          <% if current_user.group_id == 1 %>
            <li><%= link_to("Assign Jobs", '/assign_jobs') %></li>
          <% elsif current_user.group_id ==2 %>
            <li><%= link_to("Add Job Listing", new_job_path) %></li>
            <li><%= link_to("Show your Job Listings", jobs_path) %></li>
          <% else %>
            <li><%= link_to("Check Job Listings", jobs_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class='col-lg-3'></div>

    <div class='col-lg-3'>
      <br>
      <div class='navbar-collapse collapse navbar-responsive-collapse'>
        <ul class="nav navbar-nav">
          <li><i class="fa fa-user"></i><small><%= current_user.email %></small></li>
          <li style="padding: 5px;"> </li>
        </ul>
        <span style='border: 1px;'><%= link_to("Sign Out", destroy_user_session_path, method: :delete, class: 'logout_button') %></span>
      </div>
    </div>

  <% end %>

</div>
