<div class="navbar navbar-default navbar-static-top">

  <div class='col-lg-2'>
    <a class="navbar-brand" href="#">Employee Database</a>
  </div>

  <% if current_user %>

    <div class='col-lg-4'>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Link1", "/path1"  %></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
      </div>
    </div>

    <div class='col-lg-3'></div>

    <div class='col-lg-3'>
      <ul class='nav navbar-right col-md-11' style="padding:5px;">
        <li class="col-md-8 user-name text-right">
          <i class="fa fa-user"></i>
          <small><%= current_user.email %></small>
        </li>
        <li class=""><%= link_to("logout", destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>

  <% end %>

</div>
